* {margin: 0; padding: 0;}
a {text-decoration: none; color: #333;}
ol,ul,dl {list-style: none;}

/****************************common****************************/
@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
html {font-family: 'S-CoreDream-3Light'; font-size: 14px;
  overflow-x: hidden; scroll-behavior: smooth;}
.wrap {width: 1280px; margin: 0 auto;}
/****************************header****************************/
#header {position: fixed; top: 0; left: 0;
  width: 100vw; height: 70px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 0 5px #000;
  z-index: 999;
  .wrap {
    .hambuger_box {float: left; width: 20%;
      #utill_hambuger {display: none;
      &:checked + label + .nav_back {display: block;}}
      .hambuger_menu_btn {display: block; text-align: left;
        line-height: 70px; font-size: 2rem; cursor: pointer;}
    }
    h1 {float: left; width: 60%; font-family: 'Cafe24Dangdanghae';
      a {display: block; text-align: center; line-height: 70px;
        font-size: 1.1rem; color: #333;
        span {display: inline-block; font-size: 1.4rem; letter-spacing: 1.5px;
          vertical-align: middle; padding-right: 10px;}
        img {display: inline-block; vertical-align: middle;}
      }
    }
    .upper_utill_box {float: right; width: 20%;
      .utill_search_box {position: relative; margin-top: 5px;
        #utill_search_bar {display: inline-block; background-color: transparent;
          width: 100%; height: 25px; line-height: 25px; text-indent: 10px;
          outline: none; border: none; border-bottom: solid 2px #666;}
        .utill_search_btn {position: absolute;
          top: 50%; right: 10px; font-size: 16px; margin-top: -10px;
          background-color: transparent; border: none;
          cursor: pointer; color: #000;}
      }
      .utill_icon_box {&:after {content: ""; display: block; clear: both;}
        li {float: left; width: 25%;
          &:hover a {color: #b92c1f;}
          a {display: block; text-align: center;
            font-size: 20px; line-height: 42px; color: #1e286d;
            transition: 0.5s;}
        }
      }
    }
  }
}
.nav_back {display: none;
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.6);
    #nav {width: 357px; height: 100vh;
      background-color: #fff; box-shadow: 0px 0 5px #333;
    .hambuger_close_btn {position: absolute; top: 10px; left: 367px;
      display: block; font-size: 2rem;
      background-color: transparent; border: none;
      color: #fff; text-shadow: 0 0 3px #333;
      cursor: pointer;}
    >a {display: block; text-align: center; line-height: 100px;
    background-color: #0f4a82; color: #fff; font-size: 1.5rem;}
    .hambuger_tab_box {position: relative; margin-bottom: 442px;
      &:after {content: ""; display: block; clear: both;}
      > li {float: left; width: 50%; margin-top: 3px;
        input[type="radio"] {display: none;
        &:checked + label {border-bottom: solid 2px #0f4a82; background-color: #0f4a82;
           color: #fff;}
        &:checked + label + .hambuger_ab_box {z-index: 3;}}
        label {display: block; text-align: center; line-height: 40px;
          border-bottom: solid 2px #ddd; position: relative;
          transition: 0.5s;
          &:hover:after {width: 100%;}
        &:after {content: ""; position: absolute;
          top: 100%; left: 0;
          width: 0; height: 2px;
          background-color: #2e6daa;
          transition: 0.5s;}}
        .hambuger_ab_box {position: absolute;
          top: 100%; left: 0;
          width: 100%; height: 422px;
          background-color: #fff; z-index: 1;
          li {text-align: center;
            &:hover a:after {width: 100%; background-color: #0f4a82;}
            a {display: inline-block; line-height: 40px;
              transition: 0.5s; font-size: 1.1rem; position: relative;
            &:after {content: ""; display: block; width: 0; height: 2px; margin: 0 auto;
              transition: 0.5s;}}
          }
        }
      }
    }
    .hambuger_lower_menu {border-top: dotted 2px #0f4a82; padding-top: 20px;
      li {&:hover a {color: #0f4a82;}
        &:hover a:after {opacity: 1;}
        text-align: center;
        a {display: inline-block; text-align: center; line-height: 30px;
          transition: 0.5s; position: relative;
        &:after {content: ""; display: block; width: 5px; height: 5px;
          background-color: #da6b10; transition: 0.5s; opacity: 0;
          position: absolute; top: 3px; left: -10px;}}
      }
    }
  }
}
/****************************section1****************************/
#main_banner {margin-top: 70px; width: 100vw; height: 1047px;
  overflow: hidden;
  >ul {width: 10000000000000px; height: 100%;
    &:after {content: ""; display: block; clear: both;}
    >li {float: left;
      width: 100vw; height: 100%;
      .banner_img_box {width: 100vw; height: 720px;
        a {display: block; line-height: 720px;
          img {display: block; height: 100%;}
        }
      }
      .banner_prod_box {width: 1280px; margin: 20px auto 0; height: 305px;
        &::after {content: ""; display: block; clear: both;}
        li {float: left; width: calc((100% - 68px)/4); height: 303px;
          margin-right: 20px; border: solid 1px #ddd; box-sizing: border-box;
          &:last-child {margin-right: 0;}
          &:hover .prod_list .text_box {opacity: 1;}
          .prod_list {width: 100%; position: relative;
            .img_box {
              .banner_prod_img {display: block; width: 100%;
                img {display: block; width: 100%;}
              }
            }
            .text_box {position: absolute;
              top: 0; left: 0;
              width: 100%; height: 100%;
              opacity: 0; transition: 0.5s;
              background-color: rgba(0,0,0,0.6);
              .banner_prod_name {display: block; text-align: center; color: #fff;
                box-sizing: border-box; padding-top: 70px; height: 200px;
                font-size: 1.5rem; font-weight: bold;}
              .banner_prod_price {display: block; text-align: center; color: #fff;
                line-height: 105px; font-size: 1.2rem;}
            }
          }
        }
      }
    }
  }
  .PN_Btn {position: absolute;
    top: 50%; margin-top: -70px;
    width: 50px; height: 50px;
    background-color: transparent;
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    cursor: pointer;
  &.prev {left: 40px; transform: rotate(-135deg);}
  &.next {right: 40px; transform: rotate(45deg);}
  }
}
/****************************section2****************************/
#new_prod {width: 100vw; background-color: #f4f4f4;
  margin-top: 60px; padding-top: 20px; height: 460px;
  h3 {display: block; text-align: center; line-height: 40px;
    font-family: 'Cafe24Dangdanghae'; font-size: 2.4rem;
    padding-bottom: 20px;}
}
#new_prod_list{
  .new_prod_box {width: 305px; position: relative;
    &:hover .hover_box {opacity: 1;}
    .img_box {width: 305px; height: 305px; overflow: hidden;
      box-sizing: border-box; border: solid 1px #ccc;
        img {display: block; height: 100%;}
      }
    .text_box {width: 305px; border-top: solid 1px #ccc; margin-top: 10px; padding-top: 10px;
      a {
        .prod_name {display: block; text-align: center; line-height: 30px;}
        .prod_price {display: block; text-align: center;}
      }
    }
    .hover_box {position: absolute; top: 0; left: 0;
      width: 305px; height: 305px; text-align: center;
      background-color: rgba(255,255,255,0.8);
      box-sizing: border-box; padding-top: 250px;
      opacity: 0; transition: 0.5s;
      span {display: inline-block; font-size: 1.8rem; margin-right: 20px;
        cursor: pointer; transition: 0.5s;
      &:last-child {margin-right: 0;}
      &:hover {color: #a71b1b;}}
    }
  }
}
/****************************section3****************************/
#img_section {font-size: 0; line-height: 0; width: 100vw;
  margin-top: 60px; padding-top: 20px; box-sizing: border-box;
  h3 {display: block; text-align: center; line-height: 40px;
    font-family: 'Cafe24Dangdanghae'; font-size: 2.4rem;
    padding-bottom: 20px;}
  .img_sec_left1 {display: inline-block; width: 413px; height: 750px;
    margin: 0 20px 20px 0;}
  .img_sec_right1 {display: inline-block; width: 847px; height: 750px;
    margin-bottom: 20px;}
  .img_sec_left2 {display: inline-block; width: 847px; height: 413px;
    margin: 0 20px 20px 0;}
  .img_sec_right_2 {display: inline-block; width: 413px; height: 413px;
    margin-bottom: 20px;}
  .img_sec_lower {display: inline-block; width: 413px; height: 750px;
    margin-right: 20px;
    &:last-child {margin-right: 0;}}
}
/****************************footer****************************/
#footer {width: 100vw; background-color: #1c4368; margin-top: 20px;
  padding: 20px 0;
  .footer_upper {padding-bottom: 20px;
    &:after {content: ""; display: block; clear: both;}
    .footer_ikea_family {float: left; width: 260px;
      span {display: block; text-align: center; line-height: 30px;
        color: #fff; font-size: 0.9rem;}
      a {display: block; text-align: center; margin: 0 auto;
        background-color: #000; color: #fff;
        width: 200px; height: 40px; line-height: 40px;
        border-radius: 26px; font-weight: bold; font-size: 1.2rem;
        transition: 0.5s;
      &:hover {background-color: #fff; color: #000;}}
    }
    .footer_menu {float: right; width: 1020px;
      &:after {content: ""; display: block; clear: both;}
      > li {float: left; width: 25%; position: relative;
        &:hover span {background-color: #fff; color: #000;}
        &:hover .ab_box {height: 200px;}
        span {display: block; text-align: center; line-height: 70px;
          font-size: 1.2rem; font-weight: bold; cursor: pointer;
          color: #fff; transition: 0.5s;}
        .ab_box {position: absolute; bottom: 100%; left: 0;
          width: 100%; height: 0; background-color: #f0d010;
          transition: 0.5s; overflow: hidden;
          li {&:hover a {background-color: rgba(255,255,255,0.8);}
            a {display: block; text-align: center; line-height: 40px;
            color: #000; transition: 0.5s;}
          }
        }
      }
    }
  }
  .footer_lower {border-top: solid 1px #ddd; padding-top: 20px;
    &:after {content: ""; display: block; clear: both;}
    .footer_lower_left {float: left;
      p {line-height: 20px;
        span {display: block; text-align: left;}
        a {display: block; text-align: left; color: #000;}
      }
    }
    .footer_lower_right {float: right; width: 35%; text-align: right;
      .footer_sns_box {
          li {display: inline-block;
            a {display: block; text-align: center; font-size: 2rem;
              color: #000; background-color: #fff;
              width: 40px; height: 40px; line-height: 41px;
              border-radius: 50%; margin-right: 20px;}
          }
        }
      .footer_terms_list {padding-top: 20px;
        li {display: inline-block; padding: 0 10px;
          a {display: block; color: #fff;}
        }
      }
    }
  }
}
