@font-face {
  font-family: "Cafe24Dangdanghae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "S-CoreDream-3Light";
  font-size: 14px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrap {
  width: 1280px;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0 5px #000;
  z-index: 999;
}

#header .wrap .hambuger_box {
  float: left;
  width: 20%;
}

#header .wrap .hambuger_box #utill_hambuger {
  display: none;
}

#header .wrap .hambuger_box #utill_hambuger:checked + label + .nav_back {
  display: block;
}

#header .wrap .hambuger_box .hambuger_menu_btn {
  display: block;
  text-align: left;
  line-height: 70px;
  font-size: 2rem;
  cursor: pointer;
}

#header .wrap h1 {
  float: left;
  width: 60%;
  font-family: "Cafe24Dangdanghae";
}

#header .wrap h1 a {
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 1.1rem;
  color: #333;
}

#header .wrap h1 a span {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  vertical-align: middle;
  padding-right: 10px;
}

#header .wrap h1 a img {
  display: inline-block;
  vertical-align: middle;
}

#header .wrap .upper_utill_box {
  float: right;
  width: 20%;
}

#header .wrap .upper_utill_box .utill_search_box {
  position: relative;
  margin-top: 5px;
}

#header .wrap .upper_utill_box .utill_search_box #utill_search_bar {
  display: inline-block;
  background-color: transparent;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
  outline: none;
  border: none;
  border-bottom: solid 2px #666;
}

#header .wrap .upper_utill_box .utill_search_box .utill_search_btn {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 16px;
  margin-top: -10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

#header .wrap .upper_utill_box .utill_icon_box:after {
  content: "";
  display: block;
  clear: both;
}

#header .wrap .upper_utill_box .utill_icon_box li {
  float: left;
  width: 25%;
}

#header .wrap .upper_utill_box .utill_icon_box li:hover a {
  color: #b92c1f;
}

#header .wrap .upper_utill_box .utill_icon_box li a {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  color: #1e286d;
  transition: 0.5s;
}

.nav_back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav_back #nav {
  width: 357px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0 5px #333;
}

.nav_back #nav .hambuger_close_btn {
  position: absolute;
  top: 10px;
  left: 367px;
  display: block;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #fff;
  text-shadow: 0 0 3px #333;
  cursor: pointer;
}

.nav_back #nav > a {
  display: block;
  text-align: center;
  line-height: 100px;
  background-color: #0f4a82;
  color: #fff;
  font-size: 1.5rem;
}

.nav_back #nav .hambuger_tab_box {
  position: relative;
  margin-bottom: 442px;
}

.nav_back #nav .hambuger_tab_box:after {
  content: "";
  display: block;
  clear: both;
}

.nav_back #nav .hambuger_tab_box > li {
  float: left;
  width: 50%;
  margin-top: 3px;
}
.nav_back #nav .hambuger_tab_box > li input[type="radio"] {
  display: none;
}

.nav_back #nav .hambuger_tab_box > li input[type="radio"]:checked + label {
  border-bottom: solid 2px #0f4a82;
  background-color: #0f4a82;
  color: #fff;
}

.nav_back
  #nav
  .hambuger_tab_box
  > li
  input[type="radio"]:checked
  + label
  + .hambuger_ab_box {
  z-index: 3;
}

.nav_back #nav .hambuger_tab_box > li label {
  display: block;
  text-align: center;
  line-height: 40px;
  border-bottom: solid 2px #ddd;
  position: relative;
  transition: 0.5s;
}

.nav_back #nav .hambuger_tab_box > li label:hover:after {
  width: 100%;
}

.nav_back #nav .hambuger_tab_box > li label:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #2e6daa;
  transition: 0.5s;
}

.nav_back #nav .hambuger_tab_box > li .hambuger_ab_box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 422px;
  background-color: #fff;
  z-index: 1;
}

.nav_back #nav .hambuger_tab_box > li .hambuger_ab_box li {
  text-align: center;
}

.nav_back #nav .hambuger_tab_box > li .hambuger_ab_box li:hover a:after {
  width: 100%;
  background-color: #0f4a82;
}

.nav_back #nav .hambuger_tab_box > li .hambuger_ab_box li a {
  display: inline-block;
  line-height: 40px;
  transition: 0.5s;
  font-size: 1.1rem;
  position: relative;
}

.nav_back #nav .hambuger_tab_box > li .hambuger_ab_box li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  transition: 0.5s;
}

.nav_back #nav .hambuger_lower_menu {
  border-top: dotted 2px #0f4a82;
  padding-top: 20px;
}

.nav_back #nav .hambuger_lower_menu li {
  text-align: center;
}

.nav_back #nav .hambuger_lower_menu li:hover a {
  color: #0f4a82;
}

.nav_back #nav .hambuger_lower_menu li:hover a:after {
  opacity: 1;
}

.nav_back #nav .hambuger_lower_menu li a {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: 0.5s;
  position: relative;
}

.nav_back #nav .hambuger_lower_menu li a:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #da6b10;
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: -10px;
}

#main_banner {
  margin-top: 70px;
  width: 100vw;
  height: 1047px;
  overflow: hidden;
}

#main_banner > ul {
  width: 10000000000000px;
  height: 100%;
}

#main_banner > ul:after {
  content: "";
  display: block;
  clear: both;
}

#main_banner > ul > li {
  float: left;
  width: 100vw;
  height: 100%;
}

#main_banner > ul > li .banner_img_box {
  width: 100vw;
  height: 720px;
}

#main_banner > ul > li .banner_img_box a {
  display: block;
  line-height: 720px;
}

#main_banner > ul > li .banner_img_box a img {
  display: block;
  height: 100%;
}

#main_banner > ul > li .banner_prod_box {
  width: 1280px;
  margin: 20px auto 0;
  height: 305px;
}

#main_banner > ul > li .banner_prod_box::after {
  content: "";
  display: block;
  clear: both;
}

#main_banner > ul > li .banner_prod_box li {
  float: left;
  width: calc((100% - 68px) / 4);
  height: 303px;
  margin-right: 20px;
  border: solid 1px #ddd;
  box-sizing: border-box;
}

#main_banner > ul > li .banner_prod_box li:last-child {
  margin-right: 0;
}

#main_banner > ul > li .banner_prod_box li:hover .prod_list .text_box {
  opacity: 1;
}

#main_banner > ul > li .banner_prod_box li .prod_list {
  width: 100%;
  position: relative;
}

#main_banner
  > ul
  > li
  .banner_prod_box
  li
  .prod_list
  .img_box
  .banner_prod_img {
  display: block;
  width: 100%;
}

#main_banner
  > ul
  > li
  .banner_prod_box
  li
  .prod_list
  .img_box
  .banner_prod_img
  img {
  display: block;
  width: 100%;
}

#main_banner > ul > li .banner_prod_box li .prod_list .text_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}

#main_banner
  > ul
  > li
  .banner_prod_box
  li
  .prod_list
  .text_box
  .banner_prod_name {
  display: block;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding-top: 70px;
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
}

#main_banner
  > ul
  > li
  .banner_prod_box
  li
  .prod_list
  .text_box
  .banner_prod_price {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 105px;
  font-size: 1.2rem;
}

#main_banner .PN_Btn {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-top: solid 5px #fff;
  border-right: solid 5px #fff;
  cursor: pointer;
}

#main_banner .PN_Btn.prev {
  left: 40px;
  transform: rotate(-135deg);
}

#main_banner .PN_Btn.next {
  right: 40px;
  transform: rotate(45deg);
}

#new_prod {
  width: 100vw;
  background-color: #f4f4f4;
  margin-top: 60px;
  padding-top: 20px;
  height: 460px;
}

#new_prod h3 {
  display: block;
  text-align: center;
  line-height: 40px;
  font-family: "Cafe24Dangdanghae";
  font-size: 2.4rem;
  padding-bottom: 20px;
}

#new_prod_list .new_prod_box {
  width: 305px;
  position: relative;
}

#new_prod_list .new_prod_box:hover .hover_box {
  opacity: 1;
}

#new_prod_list .new_prod_box .img_box {
  width: 305px;
  height: 305px;
  overflow: hidden;
  box-sizing: border-box;
  border: solid 1px #ccc;
}

#new_prod_list .new_prod_box .img_box img {
  display: block;
  height: 100%;
}

#new_prod_list .new_prod_box .text_box {
  width: 305px;
  border-top: solid 1px #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

#new_prod_list .new_prod_box .text_box a .prod_name {
  display: block;
  text-align: center;
  line-height: 30px;
}

#new_prod_list .new_prod_box .text_box a .prod_price {
  display: block;
  text-align: center;
}

#new_prod_list .new_prod_box .hover_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 305px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding-top: 250px;
  opacity: 0;
  transition: 0.5s;
}

#new_prod_list .new_prod_box .hover_box span {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#new_prod_list .new_prod_box .hover_box span:last-child {
  margin-right: 0;
}

#new_prod_list .new_prod_box .hover_box span:hover {
  color: #a71b1b;
}

#img_section {
  font-size: 0;
  line-height: 0;
  width: 100vw;
  margin-top: 60px;
  padding-top: 20px;
  box-sizing: border-box;
}

#img_section h3 {
  display: block;
  text-align: center;
  line-height: 40px;
  font-family: "Cafe24Dangdanghae";
  font-size: 2.4rem;
  padding-bottom: 20px;
}

#img_section .img_sec_left1 {
  display: inline-block;
  width: 413px;
  height: 750px;
  margin: 0 20px 20px 0;
}

#img_section .img_sec_right1 {
  display: inline-block;
  width: 847px;
  height: 750px;
  margin-bottom: 20px;
}

#img_section .img_sec_left2 {
  display: inline-block;
  width: 847px;
  height: 413px;
  margin: 0 20px 20px 0;
}

#img_section .img_sec_right_2 {
  display: inline-block;
  width: 413px;
  height: 413px;
  margin-bottom: 20px;
}

#img_section .img_sec_lower {
  display: inline-block;
  width: 413px;
  height: 750px;
  margin-right: 20px;
}

#img_section .img_sec_lower:last-child {
  margin-right: 0;
}

#footer {
  width: 100vw;
  background-color: #1c4368;
  margin-top: 20px;
  padding: 20px 0;
}

#footer .footer_upper {
  padding-bottom: 20px;
}

#footer .footer_upper:after {
  content: "";
  display: block;
  clear: both;
}

#footer .footer_upper .footer_ikea_family {
  float: left;
  width: 260px;
}

#footer .footer_upper .footer_ikea_family span {
  display: block;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 0.9rem;
}

#footer .footer_upper .footer_ikea_family a {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-radius: 26px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

#footer .footer_upper .footer_ikea_family a:hover {
  background-color: #fff;
  color: #000;
}

#footer .footer_upper .footer_menu {
  float: right;
  width: 1020px;
}

#footer .footer_upper .footer_menu:after {
  content: "";
  display: block;
  clear: both;
}

#footer .footer_upper .footer_menu > li {
  float: left;
  width: 25%;
  position: relative;
}

#footer .footer_upper .footer_menu > li:hover span {
  background-color: #fff;
  color: #000;
}

#footer .footer_upper .footer_menu > li:hover .ab_box {
  height: 200px;
}

#footer .footer_upper .footer_menu > li span {
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}

#footer .footer_upper .footer_menu > li .ab_box {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f0d010;
  transition: 0.5s;
  overflow: hidden;
}

#footer .footer_upper .footer_menu > li .ab_box li:hover a {
  background-color: rgba(255, 255, 255, 0.8);
}

#footer .footer_upper .footer_menu > li .ab_box li a {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #000;
  transition: 0.5s;
}

#footer .footer_lower {
  border-top: solid 1px #ddd;
  padding-top: 20px;
}

#footer .footer_lower:after {
  content: "";
  display: block;
  clear: both;
}

#footer .footer_lower .footer_lower_left {
  float: left;
}

#footer .footer_lower .footer_lower_left p {
  line-height: 20px;
}

#footer .footer_lower .footer_lower_left p span {
  display: block;
  text-align: left;
}

#footer .footer_lower .footer_lower_left p a {
  display: block;
  text-align: left;
  color: #000;
}

#footer .footer_lower .footer_lower_right {
  float: right;
  width: 35%;
  text-align: right;
}

#footer .footer_lower .footer_lower_right .footer_sns_box li {
  display: inline-block;
}

#footer .footer_lower .footer_lower_right .footer_sns_box li a {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #000;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 41px;
  border-radius: 50%;
  margin-right: 20px;
}

#footer .footer_lower .footer_lower_right .footer_terms_list {
  padding-top: 20px;
}

#footer .footer_lower .footer_lower_right .footer_terms_list li {
  display: inline-block;
  padding: 0 10px;
}

#footer .footer_lower .footer_lower_right .footer_terms_list li a {
  display: block;
  color: #fff;
}
